@font-face{
    font-family: 'Arvo';
    src: url('./assets/fonts/Arvo-Regular.ttf');
}
@font-face{
    font-family: 'Arvo-bold';
    src: url('./assets/fonts/Arvo-Bold.ttf');
}

*{
    font-family: 'Arvo', serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    background-image: url('./assets/img/background_pattern.png');
    background-repeat: repeat;
}
app-root{
    display: flex;
    justify-content: center;
}

button{
    margin: 8px 0 8px 0;
    border: 0;
    padding: 0 16px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: rgb(255, 228, 106);
}

button:hover{
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

button:active{
    transform: translateY(4px);
}

h1{
    text-align: center;
    font-family: 'Arvo-bold', serif;
    font-weight: 400;
    margin-top: 0;
}