.add-task-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.manage-buttons-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list-content-wrapper{
    margin-top: 2em;
}

input[type=text]{
    height: 36px;
    padding: 0 16px;
    margin: 0 1em;
    border: 1px rgb(95, 95, 95) solid;
}

button{
    background-color: rgb(255, 228, 106);
}

@media only screen and (min-width: 600px) {
    button{
        margin: 0;
    }
    .manage-buttons-wrapper{
        margin: 1em 0 1em 0;
    }
    .add-task-wrapper{
        margin: 1em 0 1em 0;
    }
}