<div class="add-task-wrapper">
    <input type="text" [formControl]="newNameFormControl" placeholder="New task name"/>
    <button (click)="handleSubmitNewTask()">Add new task</button>
</div>
<div class="manage-buttons-wrapper">
    <button (click)="handleToggleDeleteButton()">Delete tasks</button>
    <button (click)="handleAllTaskUndone()"> New day!</button>
</div>
<div class="list-content-wrapper">
    <div *ngFor="let t of tasks;">
        <task 
            [task]="t" 
            [showDeleteButton]="showDeleteButton"
            (notifyDelete)="handleDeletedTask($event)">
        </task>
    </div>
</div>