<div class="main-wrapper">
    <div class="content">
        <h1>Animal Crossing: New Horizons Daily Tasks</h1>
        <task-list></task-list>
    </div>
    <div class="content footer">
        <about-modal></about-modal>
        <div class="attribution">Background design by <a href="https://www.instagram.com/doots.design/" target=”_blank” rel=”noopener”>María Prego.</a></div>
        <div class="attribution">Developed with 💖 by <a href="https://marcos.orive.me" target=”_blank” rel=”noopener”>Marcos Orive.</a></div>
    </div>
    <cookie-consent></cookie-consent>
</div>
