.main-wrapper{
    width: 85%;
}

.content{
    background-color: white;
    margin: 2em 0 2em 0;
    padding: 1em;
    border-radius: 10px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribution{
    text-align: center;
}

a{
    color: #007e26;
}

@media only screen and (min-width: 600px) {
    .main-wrapper{width: 80%;}
}

@media only screen and (min-width: 768px) {
    .main-wrapper{width: 70%;}
}

@media only screen and (min-width: 992px) {
    .main-wrapper{width: 60%;}
}

@media only screen and (min-width: 1200px) {
    .main-wrapper{width: 50%;}
}