.modal {
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
}

.modal-wrapper{
    width: 85%;
    height: min-content;
    background-color: white;
    margin: 2em 0 2em 0;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

p ul{
    text-align: left;
}

@media only screen and (min-width: 600px) {
    .modal-wrapper{width: 80%;}
}

@media only screen and (min-width: 768px) {
    .modal-wrapper{width: 70%;}
}

@media only screen and (min-width: 992px) {
    .modal-wrapper{width: 60%;}
}

@media only screen and (min-width: 1200px) {
    .modal-wrapper{width: 50%;}
}