<button (click)="toggleModal()">About</button>
<div *ngIf="isOpen" class="modal">
    <div class="modal-wrapper">
        <h1>About</h1>
        <h3>How does this site work?</h3>
        <ul>
            <li>Every new user gets a default list of daily tasks. After that, every change will be saved.</li>
            <li>This site uses cookies to remember the state of you task list.</li>
        </ul>
        <h3>Source code</h3>
        <ul><li>You can check the source code in <a href="https://gitlab.com/marcosorive/acnh-daily-tasks" target=”_blank” rel=”noopener”>gitlab</a></li></ul>
        <h3>Contact</h3>
        <ul>
            <li>You can contact Marcos Orive via <a href="https://twitter.com/marcosorive" target=”_blank” rel=”noopener”>twitter</a></li>
            <li>You can contact María Prego via <a href="https://instagram.com/doots.design" target=”_blank” rel=”noopener”>Instagram</a></li>
        </ul>
        <button (click)="toggleModal()">Close</button>
    </div>    
</div>