.cookie-consent {
    background-color: rgba(20,20,20,0.8);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cookie-consent button {
    background-color: rgb(255, 228, 106);
    margin-left: 0em;
}

.display-none{
    display: none;
}

@media only screen and (min-width: 600px) {
    .cookie-consent{
        flex-direction: row;
    }
    .cookie-consent button {
        margin-left: 1em;
    }
}