<div [ngClass]="{'cookie-consent': true, 'display-none': isConsented}">
    <span>This website is using a cookie to work. 🍪 </span><button class="cookie-consent-button" (click)="consent()">That's Fine</button>
</div>  