<div class="task-wrapper">
    <div (click)="updateTaskState()" class="task-text">
        <input type="checkbox" [checked]="isTaskDone"/><label class="{{ isTaskDone ? 'taskDone' : ''}}">{{ task.name }}</label >
    </div>
    <div *ngIf="showDeleteButton" class="delete-task-wrapper">
        <button (click)="deleteTask()">Delete</button>
        <hr>
    </div>
</div>
