.task-wrapper{
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
}

.task-text{
    padding: 1em;
    height: 100%;
    flex: 3;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.task-text:active{
    transform: translateY(4px);
}

.taskDone{
    text-decoration: line-through;
}

.delete-task-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

button{
    background-color: red;
    color: white;
}

hr{
    width: 100%;
}
input[type=checkbox]{
    margin-right: 0.5em;
}
input, label {
    cursor: pointer;
}

@media only screen and (min-width: 600px) {

    .task-wrapper{
        margin: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .task-text{
        display: flex;
        align-items: center;
    }

    .delete-task-wrapper{
        width: auto;
    }
    hr{
        display: none;
    }
}